<div id="<%= dom_id tablefriend %>">

  <table class="table table-hover">
    <p>
      <strong>First name:</strong>
      <%= tablefriend.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= tablefriend.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= tablefriend.email %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= tablefriend.phone %>
    </p>

    <p>
      <strong>Twitter:</strong>
      <%= tablefriend.twitter %>
    </p>
  </table>
</div>
