<div class="jumbotron p-3 mb-2 bg-success text-white">
  <h1 class="display-4"><%= @tablefriend.first_name %> 
    <%= @tablefriend.last_name %></h1>
  <p class="lead">Email: <%= @tablefriend.email %> | Telemovel: <%= @tablefriend.phone %> | Twitter: <%= @tablefriend.twitter %></p>

  <br>

  <%= link_to "Edit", edit_tablefriend_path(@tablefriend), class:"btn btn-dark" %> 
  <%= link_to "Back", tablefriends_path, class:"btn btn-dark" %>
</div>